@media only screen and (max-width: 420px) {
  .row h1 {
    display: flex;
    justify-content: center;
    width: 420px;
  }

  .row h3 {
    margin: 0;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
    background-color: #f9f9f9;
  }

  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
    margin: 0 5px;
    margin-bottom: 20px;

  }

  #steps{
    background-color: white;
  }

  #steps .row .left,
  #steps .row .central,
  #steps .row .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;

  }

  #why .row>.first,
#why .row>.second,
#why .row>.third {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center; 
    align-items: center; 

}

img {
    margin-bottom: 10px;
  }
