

	@media only screen and (max-width: 420px) {
        /* GENERALS */
        img {
            margin-bottom: 10px;
        }

        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        /* TEXT SETTINGS */
        .row h1 {
            width: 100%;
            margin-bottom: 20px;
        }
        .row h3 {
            margin: 0;
        }
        /* ROW SETTINGS */
        .row {
            width: 100%;
            margin-top: 0;
        }
        /* LEZIONI SECTION */
        #lezioni {
            background-color: #f9f9f9;
        }
        #lezioni .row>.left,
        #lezioni .row>.right {
            width: 100%;
            padding: 0 10px;
            margin-bottom: 20px;
        }
        /* STEPS SECTION */
        #steps {
            background-color: white;
        }
        #steps .row .left,
        #steps .row .central,
        #steps .row .right {
            width: 100%;
            padding: 0 10px;
            margin-bottom: 20px;
        }
        /* WHY SECTION */
        #why .row>.first,
        #why .row>.second,
        #why .row>.third {
            width: 100%;
            padding: 0 10px;
            margin-bottom: 20px;
        }
    
    